<meta charset="UTF-8">

<script>

  function pulaLinha() {

    document.write("<br>");
    document.write("<br>");
  }

  function mostra(frase) {
    document.write(frase);
    pulaLinha();
  }

  // Transformando string em numero, podemos usar o operador + na frente ou até parseInt();
  var vitorias = +prompt("Entre com o número de vitórias.");
  var empates = +prompt("Entre com o número de empates.");
  var pontos = (vitorias * 3) + empates;

  mostra("Os pontos do seu time são " + pontos);

  if (pontos > 28) {
    mostra("O seu time está melhor do que o ano passado.");
  }

  if (pontos < 28) {
    mostra("O seu time está pior do que o ano passado.");
  }

  if (pontos == 28) {
    mostra("O seu time está igual o ano passado.");
  }

</script>