<meta charset="UTF-8">

<script>
  function pulaLinha() {
    document.write("<br>");
  }

  function mostra(frase) {
    document.write(frase);
    pulaLinha();
  }

  function calcularImc(peso, altura) {
    return peso / (altura * altura);
  }

  var nome = prompt("Informe o seu nome");
  var alturaInformada = prompt(nome + " informe a sua altura");
  var pensoInformado = prompt(nome + " informe o seu peso");

  var imc = calcularImc(pensoInformado, alturaInformada);

  document.write(nome + " o seu imc é " + imc);
</script>