<meta charset="UTF-8">

<script>
  document.write("A média do valor gasto com as viagens é " + (200 + 100 + 300 + 400) / 4 + "." + "<br>");  
</script>

<!-- A idade do meu irmão -->

<script>
  document.write("Eu acertei: " + 15 / 50 * 100 + "%." + "<br>");
</script>

<script>
  function pulaLinha() {
    document.write("<br>");
  }

  function mostra(frase) {
    document.write(frase);
  }

  var minhaIdade = 50;
  var idadeIrmao = 43;

  mostra("Nossa diferença de idade é de " + (minhaIdade - idadeIrmao) + " anos.");
  pulaLinha();
</script>

<!-- O problema das gerações -->

<script>
  function pulaLinha() {
    document.write("<br>");
  }

  function mostra(frase) {
    document.write(frase);
    pulaLinha();
  }

  var portuguesesChegaramBrasil = 1500;
  var anoAtual = 2022;
  var mediaCasalTerFilhos = 28;

  mostra("Se passaram desde 1500  " + Math.round((anoAtual - portuguesesChegaramBrasil) / mediaCasalTerFilhos) + " gerações.");

</script>